.form-page {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 100vh;
}

.form-page form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  margin-bottom: 10px;
}

.form-input div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-input label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.form-page input[type="text"],
.form-page input[type="number"],
.form-page select {
  width: 90%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  overflow-wrap: break-word;
}

.form-page textarea {
  resize: none;
  width: 90%;
  height: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  overflow-wrap: break-word;
}

.form-page select {
  cursor: pointer;
}

.form-input input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-input label[for="image-input"] {
  margin-top: 32px;
  width: 90%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  overflow-wrap: break-word;
  cursor: pointer;
}

.form-input label[for="image-input"]:hover {
  background-color: #e6e6e6;
}







.form-page button[type="submit"] {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.form-page button[type="submit"]:hover {
  background-color: #0069d9;
}

.form-page button[type="submit"]:active {
  background-color: rgb(101, 236, 83);
}

.form-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10 auto;
  max-width: 1500px;
  padding: 0 1rem;
  gap: 8px;
}


@media screen and (max-width: 1024px) {
  .form-cards-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .form-cards-container {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .form-cards-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .form-page form {
    grid-template-columns: 1fr;
  }
}