.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}